

pack { 
	color: violet; 
	background-color : black; 
	width: 100%; 
} 
package{
    color: white; 
	font-size : 30px; 
	background-color :rgb(182, 25, 182); 
}

city, package, activity, occupency { 
	display : block; 
} 
